<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-dev-logging.ZPM">
    <Module>
      <Name>dc-dev-logging</Name>
      <Version>1.22.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.dev.logging.PKG"/>
    </Module>
  </Document>
</Export>
